<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Bets" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
    <%!-- <%= IO.inspect(@conn, label: "Conn+++++++++++++********************") %> --%>
      <%= if @conn.private.plug_session["current_user"]  do %>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          <%= @conn.private.plug_session["current_user"].name %>
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={"/users/log_in"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Login  or &nbsp;&rarr;
          </.link>
        </li>
      <% end %>
      <%= if @conn.private.plug_session["current_user"] do %>
        <.link
          href={"/auth/logout"}
          method="delete"
          class="block py-2 px-4 text-sm text-gray-700 hover:text-zinc-700"
        >
          <span aria-hidden="true">
            Logout<.icon name="hero-lock-open-solid" class="ml-1 w-3 h-3" />
          </span>
        </.link>
      <% else %>
        <.link
          href={~p"/auth/github"}
          method="get"
          class="block py-2 px-4 text-sm text-gray-700 hover:text-zinc-700"
        >
          <span aria-hidden="true">
            Continue with Github<.icon name="hero-lock-closed-solid" class="ml-1 w-3 h-3" />
          </span>
        </.link>
      <% end %>
    </ul>
    <%= @inner_content %>
  </body>
  <script>
    window.csrfToken = "<%= get_csrf_token() %>";
  </script>
</html>