    <div class="dashboard">
      <h1>Dashboard</h1>
      <div class="analytics">
        <%= for game <- Bets.Games.list_games() do %>
          <div class="game">
            <h2><%= game.name %></h2>
            <p>Number of players: <%= game.num_players %></p>
            <p>Revenue: <%= game.revenue %></p>
          </div>
        <% end %>
      </div>
    </div>